<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TEMP</title>
</head>
<body>
    <h1>Global Power Plants Database</h1>
    <p> View by primary fuel source: 
        <ul>
            <li><a href="http://localhost:8000/power/fuel/coal">Coal</a></li>
            <li><a href="http://localhost:8000/power/fuel/gas">Gas</a></li>
            <li><a href="http://localhost:8000/power/fuel/hydro">Hydro</a></li>
            <li><a href="http://localhost:8000/power/fuel/oil">Oil</a></li>
            <li><a href="http://localhost:8000/power/fuel/solar">Solar</a></li>
            <li><a href="http://localhost:8000/power/fuel/wind">Wind</a></li>
            <li><a href="http://localhost:8000/power/fuel/other">Other</a></li>
        </ul>
    </p>
    <p> View by capacity
        <ul>
            <li><a href="http://localhost:8000/power/capacity/low">Low (200 >)</a></li>
            <li><a href="http://localhost:8000/power/capacity/medium">Medium (200-599)</a></li>
            <li><a href="http://localhost:8000/power/capacity/High">High (600 &lt)</a></li>
        </ul>
    </p>
    <h2>$$Sorted_By_Header$$</h2>
    <table>
        <thead>
            <tr>
                <th>Country</th>
                <th>Country Code</th>
                <th>Plant Name</th>
                <th>Plant Identification Number</th>
                <th>Plant URL</th>
                <th>Capacity (MW)</th>
                <th>Primary Fuel Source</th>
                <th>2017 Estimated Energy Generation</th>
            </tr>
        </thead>
        <tbody>
            $$TABLE_DATA$$
        </tbody>
    </table>
</body>
</html>
