<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Global Power Plants Database</title>
    <link rel="stylesheet" href="/css/plantStyles.css"/>
</head>
<body>
    <h1>Global Power Plants Database</h1>
    <p><a href="https://powerplant.onrender.com/power/fuel/all_data">View All Data</a></p>
    <p> View by primary fuel source: 
        <ul>
            <li><a href="https://powerplant.onrender.com/power/fuel/biomass">Biomass</a></li>
            <li><a href="https://powerplant.onrender.com/power/fuel/coal">Coal</a></li>
            <li><a href="https://powerplant.onrender.com/power/fuel/cogeneration">Cogeneration</a></li>
            <li><a href="https://powerplant.onrender.com/power/fuel/gas">Gas</a></li>
            <li><a href="https://powerplant.onrender.com/power/fuel/geothermal">Geothermal</a></li>
            <li><a href="https://powerplant.onrender.com/power/fuel/hydro">Hydro</a></li>
            <li><a href="https://powerplant.onrender.com/power/fuel/nuclear">Nuclear</a></li>
            <li><a href="https://powerplant.onrender.com/power/fuel/oil">Oil</a></li>
            <li><a href="https://powerplant.onrender.com/power/fuel/petcoke">Petcoke</a></li>
            <li><a href="https://powerplant.onrender.com/power/fuel/solar">Solar</a></li>
            <li><a href="https://powerplant.onrender.com/power/fuel/storage">Storage</a></li>
            <li><a href="https://powerplant.onrender.com/power/fuel/waste">Waste</a></li>
            <li><a href="https://powerplant.onrender.com/power/fuel/wave">Wave and Tidal</a></li>
            <li><a href="https://powerplant.onrender.com/power/fuel/wind">Wind</a></li>
            <li><a href="https://powerplant.onrender.com/power/fuel/other">Other</a></li>
        </ul>
    </p>
    <p> View by capacity
        <ul>
            <li><a href="https://powerplant.onrender.com/power/capacity/low">Low (200 >)</a></li>
            <li><a href="https://powerplant.onrender.com/power/capacity/medium">Medium (200-599)</a></li>
            <li><a href="https://powerplant.onrender.com/power/capacity/high">High (600 &lt)</a></li>
        </ul>
    </p>
    <p> View by 2017 Estimated Energy Generation
        <ul>
            <li><a href="https://powerplant.onrender.com/power/estimated/low">Low (200 >)</a></li>
            <li><a href="https://powerplant.onrender.com/power/estimated/medium">Medium (200-1000)</a></li>
            <li><a href="https://powerplant.onrender.com/power/estimated/High">High (1000 &lt)</a></li>
        </ul>
    </p>
    <p> 
        <div class="dropdown">
            <button>View by Country</button>
            <div class="dropdown-content">
                $$COUNTRY_LINKS$$
            </div>
        </div>
    </p>
    <h2>$$Sorted_By_Header$$</h2>
    <p><a href="%%Previous_Link%%">Previous  </a> <a href="%%Next_Link%%">Next</a></p>
    <table>
        <thead>
            <tr>
                <th>Country</th>
                <th>Country Code</th>
                <th>Plant Name</th>
                <th>Plant Identification Number</th>
                <th>Plant URL</th>
                <th>Capacity (MW)</th>
                <th>Primary Fuel Source</th>
                <th>2017 Estimated Energy Generation</th>
            </tr>
        </thead>
        <tbody>
            $$TABLE_DATA$$
        </tbody>
    </table>
</body>
</html>
