<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TEMP</title>
</head>
<body>
	<h1>$$Plant_Fuel_Header$$</h1>
    <table>
        <thead>
            <tr>
                <th>Counthy</th>
                <th>Plant Identification Number</th>
                <th>Primary Fuel Source</th>
                <th>Secondary Fuel Source</th>
                <th>Tertiary Fuel Source</th>
                <th>Quaternary Fuel Source</th>
            </tr>
        </thead>
        <tbody>
            $$TABLE_BODY$$
        </tbody>
    </table>
</body>
</html>
