<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
   
    <script src="https://cdn.plot.ly/plotly-latest.min.js" charset="utf-8"></script>
</head>
<body>
    <div> 
        <h3 style="text-align: center;color: rgb(57, 2, 196);">Welcome To PowerPlant</h3>   
        <div id="chart"></div> <!-- Use a div for the chart -->
    </div>

    <p>Fuel type:</p>
    <select id="fuelType" >
        <option value="oil">Oil</option>
        <option value="solar">Solar</option>
        <option value="hydro">Hydro</option>
    </select>

    <p>Energy Capacity:</p>
    <select id="fuelType" >
        <option value="Low">Low</option>
        <option value="Medium">Medium</option>
        <option value="High">High</option>
    </select>

    

    <!-- placeholder for the chart -->

    <div id="chart"></div>
    <div id="chart2"></div>
    <div id="chart3"></div>
    

    <script>
        //graph for one query
        const chartData = $$Graph$$;
        console.log(chartData);
        const data = [{
            x: chartData.countryNames,
            y: chartData.energyCapacity,
            type: "bar"
        }];
    
        const layout = {
            title: "Countries and their energyCapacities"
        };
    
        Plotly.newPlot("chart", data, layout);
    
        const data2 = [{
            labels: chartData.fuelType,
            values: chartData.countryNames,
            type: "pie"
        }];
        const layout2 = {
            title: "Countries and their Fuel Types"
        };
        Plotly.newPlot("chart2", data2, layout2);
    
        const data3 = [{
            x: chartData.countryNames,
            y: chartData.estimated2017,
            type: "bar"
        }];
        const layout3 = {
            title: "Countries and their 2017 estimate"
        };
        Plotly.newPlot("chart3", data3, layout3);
    </script>
    
</body>
</html>


